@import 'normalize.css';
//@import 'variables';
@import 'forms';

#__nuxt {
  height: 100%;
}

body {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  touch-action: manipulation;
}

h2, h3, h4 {
  color: $accent;
  text-align: center;
}

h3 {
  font-size: 14px;
}

strong {
  color: $fg-lighter;
}

.btn-nav {
  background: $bg-light;
  &:hover, &.active {
    background-color: $bg-hover;
  }
  span {
    color: $accent;
    font-weight: 600;
  }
}

.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  max-width: 585px;
  display: block;
  margin: 0 auto;
  &.btn--action {
    width: 100%;
    font-weight: 600;
    background: $action-color;
    border-radius: 24px;
    padding: 8px 16px;
    text-transform: uppercase;
    color: #fff;
    &.secondary {
      border: 2px solid $secondary;
      background: none;
      color: $accent
    }
    &:hover, &:active, &:focus {
      filter: brightness(0.8);
    }
  }
  &.btn-tab {
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    &.active {
      background: $bg-hover;
    }
  }
  &:focus {
    --webkit-tap-highlight-color: transparent;
  }
}

.section {
  border-radius: 16px;
  padding: 20px;
  &.section-bg {
    background: $bg-hover;
  }
}