@import 'normalize.css';
@import 'variables';
@import 'typo';
@import 'forms';

#__nuxt {
  height: 100%;
}

body {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  touch-action: manipulation;
}

.inverse {
  color: #fff;
}

strong {
  color: $fg-lighter;
}

.btn-nav {
  background: $bg-light;
  &:hover, &.active {
    background-color: $bg-dark;
  }
  span {
    color: $accent;
    font-weight: 600;
  }
}

.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  display: block;
  margin: 0 auto;
  &.btn--action {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    background: $action-color;
    border-radius: 24px;
    padding: 8px 16px;
    text-transform: uppercase;
    color: #fff;
    &.btn--sm {
      padding: 8px 12px;
      font-size: 11px;
      width: auto;
      margin: 0;
    }
    &.secondary {
      border: 2px solid $secondary;
      background: none;
      color: $accent
    }
    &:hover, &:active, &:focus {
      filter: brightness(0.8);
    }
  }
  &.btn-tab {
    border-radius: $border-radius;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: #fff;
    &.active {
      background: $bg-dark;
    }
  }
  &:focus {
    --webkit-tap-highlight-color: transparent;
  }
}

.section {
  border-radius: $border-radius-md;
  margin: 2rem 0;
  padding: 20px;
  &.section-bg {
    background: $bg-dark;
  }
  &.section-bg--gradient {
    background: linear-gradient(90deg,rgba(239, 188, 213, 1) 0%, rgba(248, 183, 215, 1) 100%);
  }
  &.section-bg-darker {
    background: $bg-darker;
    margin-bottom: 0;
  }
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  justify-content: stretch;
  .btn-tab {
    display: flex;
    width: 100%;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.fg--accent {
  color: $accent;
}

.bg--accent {
  background: $accent;
}

.intro-page .carousel-slides {
  height: 100%;
  .carousel-text {
    min-height: 190px;
  }
  img {
    height: auto;
    width: 100%;
  }
}