$accent: #667080;
$acc-lighter: #C198CD;
$secondary: #F9C45A;
$input-border: #C1AEEA;
$fg-lighter: #373338CC;
$action-color: #794389;
$bg-dark: #F5EEF7;
$bg-darker: #AD74BE;
$bg-carousel: #EEE4F2;
$bg-light: #fff;

$border-radius: 8px;
$border-radius-md: 16px;

